body {
  font-family: Arial, sans-serif;
  /* background-color: #f4f4f4; */
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #b8c8e0 100%);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* overflow: hidden; */
}

.input-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  /* width: 90%; */
}

.input-group {
  margin-left: 10px;
  width: 65%; /* Adjust the width as needed */
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 5px; /* Added border-radius */
  overflow: hidden; /* Ensures border-radius is applied to corners */
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 0.5px #666; /* this draws the table border  */
}
th {
  background-color: #3a5884;
  color: white;
}

tr:nth-child(even) {
  background-color: #ebebeb;
}
tr:hover {
  background-color: #d4f4f4;
}

#GPAScaleTable {
  width: 80%;
  border-collapse: collapse;
  margin: 5px auto;
}

#GPAScaleTable th,
#GPAScaleTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* #GPAScaleTable th {
  background-color: #3a5884;
  color: white;
} */

label {
  display: block;
  /* margin-bottom: 2px; */
}

input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
}

button {
  background-color: #6fb262;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.summary-buttons button {
  margin-left: 10px;
}

#courseSummary {
  margin-top: 5px;
}

#courseSummary button {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* background-color: #cd7c57; */
  color: white;
  border: none;
  /* padding: 10px 10px; */
  cursor: pointer;
  margin: 5px; /* Center the buttons */
}

#courseSummary button i {
  margin-right: 5px;
  margin-left: 5px;
}

button#saveButton {
  background-color: #52a2c5;
}

button#importButton {
  background-color: #45a049;
}

#courseList {
  margin-top: 20px;
}

#courseList ul {
  list-style-type: none;
  padding: 0;
}

#courseList li {
  margin-bottom: 5px;
}

#result {
  margin-top: 10px;
}

#courseTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

#courseTable th,
#courseTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* #courseTable th {
  background-color: #82a6db;
  color: white;
} */

/* .buttons-container {
  display: flex;
  gap: 10px; 
} 
*/

/* Center the buttons and update their color */
#courseTable button {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: #cd7c57;
  color: white;
  border: none;
  /* padding: 10px 10px; */
  cursor: pointer;
  margin: 1px; /* Center the buttons */
}

#courseTable button i {
  margin-right: 5px;
  margin-left: 5px;
}

#courseTable button.edit {
  background-color: #ff8c00; /* Update color for the Edit button to orange */
}

#courseTable button.delete {
  background-color: #e74c3c; /* Update color for the Delete button to red */
}
